body {
    width:99%;
    min-height: 100vh;
    margin:5px;
    background:rgba(9,255,0,1);
    color: white;
}
#grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 15px;
    grid-template-areas: "bloc-1 bloc-txt" "bloc-2 bloc-txt" "bloc-3 bloc-txt" "bloc-4 bloc-txt";
    padding:5px;
  }
  
#bloc-1 {
    grid-area: bloc-1;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;

}
#bloc-1 img {
    margin-top: 15px;
}
  
#bloc-2 {
    grid-area: bloc-2;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#bloc-2 img {
    margin-top:15px;
}
  

#bloc-3 {
    grid-area: bloc-3;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#bloc-3 img {
    margin-top: 15px;
}
  
#bloc-4 {
    grid-area: bloc-4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bloc-4 img {
    margin-top: 15px;
}
  
#bloc-txt {
    grid-area: bloc-txt;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .4em;
    background-color: white;
}

.profil {
    background: linear-gradient(90deg, rgba(9,255,0,1) 0%, rgba(9,121,28,1) 50%, rgba(3,77,0,1) 100%);
    border-radius: .4em;
    position: relative;
    width: 90%;
    height: 130px;
    margin-top:6px;
    margin-bottom: 25px;
}

.profil li {
    list-style-type: none;
    text-align: right;
    margin-right:10px;
}

.etude {
    background: linear-gradient(90deg, rgba(9,255,0,1) 0%, rgba(9,121,28,1) 50%, rgba(3,77,0,1) 100%);
    border-radius: .4em;
    position: relative;
    width: 90%;
    height:130px;
    margin-top: 10px;
    margin-bottom: 25px;

}
.etude li {
    list-style-type: none;
    text-align: center;
}

.experience {
    background: linear-gradient(90deg, rgba(9,255,0,1) 0%, rgba(9,121,28,1) 50%, rgba(3,77,0,1) 100%);
    border-radius: .4em;
    position: relative;
    width:90%;
    height: 130px;
    margin-top:10px;
    margin-bottom: 25px;

}
.experience li {
    list-style-type: none;
    text-align: center;
}

.competence {
    background: linear-gradient(90deg, rgba(9,255,0,1) 0%, rgba(9,121,28,1) 50%, rgba(3,77,0,1) 100%);
    border-radius: .4em;
    position:relative;
    width:90%;
    height: 130px;
    margin-top:10px;
}

.competence li {
    list-style-type: none;
    text-align: center;
}



.bubble {
    position: relative;
    background: linear-gradient(90deg, rgba(3,77,0,1) 0%, rgba(9,121,28,1) 50%, rgba(9,255,0,1) 100%);
    border-radius: .4em;
    }
    
.bubble:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: rgba(9,255,0,1);
    border-right: 0;
    margin-top: -20px;
    margin-right: -20px;
}


